/*---------- example css ----------*/
.c-createproduct-nav {
	margin-bottom: 15px;
	.rs-nav-item {
		padding: 15px 40px;
		font-size: 18px;
	}
	.rs-nav-tabs.rs-nav-horizontal .rs-nav-item.rs-nav-item-active {
		border-bottom: 1px solid #96398f;
		color: #000;
		font-weight: 700;
	}
	.rs-nav-tabs .rs-nav-item.rs-nav-item-active {
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}
}
.c-createproduct-info {
	&__top {
		margin-bottom: 20px;
	}
	b {
		font-size: 16px;
		display: block;
		margin-top: 5px;
	}
	&__left,
	&__right {
		.rs-row {
			margin-bottom: 15px;
		}
		.rs-picker-focused {
			border: 0;
			box-shadow: none;
		}
		.rs-input,
		.rs-picker-toggle,
		.rs-picker-input {
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-radius: 0;
			border-bottom: 1px solid #e5e5ea;
			&:focus {
				outline: none;
				box-shadow: none;
			}
			input,
			.rs-picker-toggle {
				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
		}
		img {
			width: 100%;
		}
	}
	&__right {
		b {
			margin-top: 9px;
		}
		.rs-input {
			text-align: right;
			font-weight: 700;
			font-size: 18px;
		}
		.rs-checkbox-inner {
			&:before {
				border-color: #96398f !important;
			}
		}
		.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner:before,
		.rs-checkbox-indeterminate .rs-checkbox-wrapper .rs-checkbox-inner:before {
			border-color: #96398f !important;
		}
		.isbg {
			.rs-picker-toggle {
				border: 1px solid #96398f;
				@include border-radius(5px);
				background-color: rgba(#96398f, 0.2) !important;
				.rs-picker-toggle-value,
				.rs-picker-toggle-placeholder {
					font-size: 16px;
					font-weight: 700;
				}
			}
		}
	}
	&__leftrow {
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			width: 1px;
			height: 70%;
			background: rgba(#000, 0.2);
		}
	}
}
.isbgselect {
	.rs-picker-toggle {
		border: 1px solid #96398f;
		@include border-radius(5px);
		background-color: rgba(#96398f, 0.2) !important;
		.rs-picker-toggle-value,
		.rs-picker-toggle-placeholder {
			font-size: 16px;
			font-weight: 700;
		}
	}
}
//example responsive css
@media (min-width: $screen-sm-min) {
	//mobile lanscape
}
@media (min-width: $screen-md-min) {
	//ipad portrait
}
@media (min-width: $screen-lg-min) {
	//ipad lanscape & pc 1024x768px
}
@media (min-width: $screen-xl-min) {
	//pc & mac 1280px grow up
}
@media (min-width: 1440px) {
	//pc & mac 1440px grow up
}
@media (min-width: 1900px) {
	//pc & mac 1900px grow up
}
//end example responsive css
/*---------- end example css ----------*/
