.c-formsell {
	.rs-picker-toggle {
		border: 0;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
	.rs-checkbox-inner {
		&:before {
			border-color: #96398f !important;
		}
	}
	.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner:before,
	.rs-checkbox-indeterminate .rs-checkbox-wrapper .rs-checkbox-inner:before {
		border-color: #96398f !important;
	}
}
.c-sell-tab {
	.rs-nav-item {
		text-align: center;
		overflow: hidden;
	}
	.rs-nav-item-active {
		background-color: #5755e7 !important;
		color: $color-white;
	}
	&.is-2 {
		margin-bottom: 15px;
		.rs-nav-item {
			border-bottom: 3px solid #d7d7d7;
		}
		.rs-nav-item-active {
			border-left: 0;
			border-top: 0;
			border-right: 0;
			background-color: transparent !important;
			color: #000000;
			font-weight: 700;
			border-bottom: 3px solid #3386cd !important;
		}
	}
	.rs-input,
	.rs-picker-toggle,
	.rs-picker-input {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
		border-bottom: 1px solid #e5e5ea;
		&:focus {
			outline: none;
			box-shadow: none;
		}
		input,
		.rs-picker-toggle {
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
}
.c-sell-formcontent {
	.rs-input,
	.rs-picker-toggle,
	.rs-picker-input,
	.rs-input-group {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
		border-bottom: 1px solid #e5e5ea;
		text-align: right;
		&:focus {
			outline: none;
			box-shadow: none;
		}
		input,
		.rs-picker-toggle,
		.rs-input {
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
	.rs-input-group {
		.rs-input {
			text-align: left;
		}
		&.rs-input-group-focus {
			box-shadow: none !important;
			outline: 0 !important;
		}
	}
	.rs-input-group-addon {
		background: transparent;
	}
	.c-line {
		border-bottom: 1px dashed #cccccc;
		width: 100%;
		display: block;
		margin-bottom: 15px;
	}
}
.c-modal-addcustomer {
	.rs-modal-header-close {
		display: none;
	}
	.rs-modal-content {
		padding: 0;
		@include border-radius(20px);
		overflow: hidden;
	}
	.rs-modal-header {
		padding: 30px 0;
		text-align: center;
		background: #dfc3dd;
		h4 {
			font-size: 30px;
			color: #96398f;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	.rs-modal-body {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.c-form-addright {
	.rs-row {
		margin-bottom: 15px;
	}
	&.is-customer {
		&:nth-last-child(2) {
			margin-bottom: 45px;
		}
	}
}

.c-modal-phone-ac {
	.rs-modal-header-close {
		display: none;
	}
	.rs-modal-content {
		padding: 0;
		@include border-radius(20px);
		overflow: hidden;
	}
	.rs-modal-header {
		padding: 30px 0;
		text-align: center;
		background: #dfc3dd;
		h4 {
			font-size: 30px;
			color: #96398f;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	.rs-modal-body {
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		.rs-grid-container {
			width: 50%;
			p {
				font-size: 18px;
			}
			.rs-input {
				margin: 20px 0 35px 0;
				text-align: center;
			}
		}
		.rs-btn-default {
			color: #fff;
			background-color: #cacaca;
		}
		.rs-btn-ghost {
			font-weight: bold;
			border-style: dashed;
			margin: 10px 0 20px 0;
			font-size: 18px;
			padding: 15px;
		}
		.rs-row {
			&:nth-child(2) {
				.rs-btn {
					padding: 10px 0;
					margin-bottom: 10px;
				}
			}
		}
	}
}
