.container-index {
	padding: 40px;
	background-color: #fff;
	.rs-input {
		margin-bottom: 20px;
		border: 1px solid #96398f;
		border-radius: 5px;
	}
	.rs-picker {
		.rs-picker-toggle {
			background-color: #dbc5e3 !important;
			border: 1px solid #96398f;
			font-weight: bold;
		}
		.rs-btn {
			margin-top: 0;
		}
	}
	.rs-btn {
		margin-top: 26px;
	}
	b {
		font-size: 16px;
		display: block;
		margin-bottom: 10px;
	}
}

.container-change-pw {
	padding: 40px;
	background-color: #fff;
	.input {
		margin-bottom: 20px;
		border: 1px solid #96398f;
		border-radius: 5px;
	}
	.input-otp {
		text-align: center;
		border: 1px solid #96398f;
		border-radius: 5px;
	}
	b {
		font-size: 16px;
		display: block;
		margin-bottom: 10px;
	}
	.is-otp {
		input {
			text-align: center;
			font-size: 25px;
			letter-spacing: 15px;
			font-weight: 700;
		}
	}
}

.container-recharge-point {
	padding: 40px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	.center-items {
		display: flex;
		justify-content: center;
	}
	.rs-panel {
		width: 40%;
		padding: 20px;
		text-align: center;
		.rs-input {
			&:disabled {
				background-color: rgb(237, 237, 237);
				color: #333;
				cursor: pointer;
			}
			font-weight: bold;
			margin-bottom: 15px;
			font-size: 16px;
		}
		.rs-input-group {
			margin-bottom: 15px;
			.rs-input {
				margin-bottom: 0;
				&:disabled {
					cursor: default;
				}
			}
			.rs-input-group-addon {
				background-color: rgb(237, 237, 237);
			}
		}
		b {
			display: block;
			margin: 10px 0;
		}
		.input-center {
			text-align: center;
		}
	}
	p {
		margin-top: 10px;
		font-style: italic;
	}
	.rs-btn {
		width: 40%;
	}
}
